In [9]:
#pandas图表 数据处理工具 panel 数据面板  data

import pandas as pd
import numpy as np
# DataFrame可以行列索引，二维数组处理
data=np.random.normal(0,1,(10,5))

data=pd.DataFrame(data)
#添加索引行
stock=["股票{}".format(i) for i in range(10)]
pd.DataFrame(data,index=stock)

#添加列索引
date=pd.date_range(start="20200101",periods=5,freq="B")

pd.DataFrame(data,index=stock,columns=date)

print(data.shape)
print(data.index)
print(data.columns)
print(data.values)

print(data.head(3))
print(data.tail(2))

#修改索引
stock=["股票-{}".format(i) for i in range(10)]
data.index=stock


#重设索引
data.reset_index()#多一列
data.reset_index(drop=True)

(10, 5)
RangeIndex(start=0, stop=10, step=1)
RangeIndex(start=0, stop=5, step=1)
[[ 0.08310545 -0.00262653  0.34275133  0.22287021 -0.58434697]
 [-0.51423571  2.47568291  0.65017251  0.14953254 -2.36846187]
 [ 0.98497747  1.3318707  -1.14062137  0.52643815 -1.35083925]
 [-0.13506057  1.82492055 -0.38453576  0.30825456  1.74717661]
 [ 0.33499113 -1.43949766  1.13110683  1.21387274  1.96482997]
 [-0.33120206 -0.63346686 -0.28038187  0.56771091  0.78360474]
 [ 0.72907721 -1.17848799  2.41637129  0.73060626 -0.03318163]
 [-0.74733527  0.44730482  1.48278362 -0.8283427   0.43367261]
 [ 0.44100915  0.57990324 -0.45604523  0.29462545  0.8290192 ]
 [ 1.72521503  0.38507473 -0.11376695  1.33901418  1.02800965]]
          0         1         2         3         4
0  0.083105 -0.002627  0.342751  0.222870 -0.584347
1 -0.514236  2.475683  0.650173  0.149533 -2.368462
2  0.984977  1.331871 -1.140621  0.526438 -1.350839
          0         1         2         3         4
8  0.441009  0.579903 -0.456045  0.294625  0.829019
9  1.725215  0.385075 -0.113767  1.339014  1.028010

          0         1         2         3         4
0  0.083105 -0.002627  0.342751  0.222870 -0.584347
1 -0.514236  2.475683  0.650173  0.149533 -2.368462
2  0.984977  1.331871 -1.140621  0.526438 -1.350839
3 -0.135061  1.824921 -0.384536  0.308255  1.747177
4  0.334991 -1.439498  1.131107  1.213873  1.964830
5 -0.331202 -0.633467 -0.280382  0.567711  0.783605
6  0.729077 -1.178488  2.416371  0.730606 -0.033182
7 -0.747335  0.447305  1.482784 -0.828343  0.433673
8  0.441009  0.579903 -0.456045  0.294625  0.829019
9  1.725215  0.385075 -0.113767  1.339014  1.028010

In [11]:
df=pd.DataFrame({'month':[1,4,7,10],
                 'year':[2018,2019,2020,2021],
                 'sale':[55,40,84,31]})

#set_index(keys,drop=True) 以某列值设置为新的索引 keys列索引或者列索引名称列表 
#drop是否当做新的索引删除原来列
print(df.set_index("month",drop=False))


#设置多个索引，以年和月份
new_df=df.set_index(["year","month"])

#MultiIndex
print(new_df.index)
#Panel是DataFrame容器

       month  year  sale
month
1          1  2018    55
4          4  2019    40
7          7  2020    84
10        10  2021    31
MultiIndex([(2018,  1),
            (2019,  4),
            (2020,  7),
            (2021, 10)],
           names=['year', 'month'])

# Series

In [17]:
#DataFrame是Seres容器
print(pd.Series(np.arange(3,9,2),index=["a","b","c"]))
print(pd.Series({'red':100,"blue":200}))

a    3
b    5
c    7
dtype: int64
red     100
blue    200
dtype: int64

In [24]:
#读取data
data=pd.read_csv("pandasdata.csv")
data

     年份   张三   李四   王五
0  2019  100  200   90
1  2020  230  109  300
2  2021  102  300  301

In [26]:
data.drop(["张三"],axis=1)

     年份   李四   王五
0  2019  200   90
1  2020  109  300
2  2021  300  301